@import "../../styles/shared.scss";

.GenreModal {
  position: fixed;
  top: 200px;
  margin: 0 auto;
  z-index: 10;
  background-color: $darkPurple;
  border-radius: 10px;
  width: 430px;
  height: 540px;
  &-wrapper {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
  }

  &-genresWrapper{
    margin-top: 20px;
  }

  &-genres {
    display: none;
  }

  &-genresButton{
    background-color: $darkPurple;
    color: $white;
    border: 2px solid $white;
    box-sizing: border-box;
    border-radius: 11px;
    padding: 10px;
  }

  &-genres:checked + label {
    background-color: $pink;
    border: 2px solid $pink;
  }
  
  
  &-apply {
    width: 80%;
    height: 43px;
    background-color: $pink;
    border: none;
    color: $white;
    border-radius: 10px;
    position: absolute;
    bottom: 40px;
    left: 45px;
  }
  &-apply:hover {
    background-color: $darkPink;
    transition: 0.2s;
    cursor: pointer;
  }
}
